@charset "ISO-8859-1";

	.datetime {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #c1ccd3;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.1rem;
    }
	 .previous {
     text-decoration: none;
     display: inline-block;
	 padding: 5px 14px;
     background-color: #f1f1f1;
     cursor: pointer;
     FONT-SIZE: 14PX;
     }
     
    .overlay {
/* 	position: absolute;*/	
    top: 0;
	left: 0;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
    }
    .btn-inverse {
     color: #fff; 
     background-color: #002B49; 
     border-color: #002B49; 
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    }
    tr.row_selected td {
		background-color: #e9ecef !important;
		/* color: white !important; */
	}
	table.dataTable.no-footer {
	    border-bottom: 1px solid #c1c1c1;
	}
	table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 1px;
}
	table.dataTable thead th, table.dataTable thead td {
	    padding: 10px 1px;
	    border-bottom: 1px solid #e4cccc;
	    }
	        
	 .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	    /* color: #333 !important; */
	    /* border: 1px solid #979797; */
	    background-color: white;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
	    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
	    background: #d6dee5;
	    color: #3c484f;
	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    box-sizing: border-box;
	    display: inline-block;
	    min-width: 1.5em;
	    padding: 0.1em 0.2em;
	    margin-left: 2px;
	    text-align: center;
	    text-decoration: none !important;
	    cursor: pointer;
	    *cursor: hand;
	   /*  color: #333 !important; */
	   /*  border: 1px solid transparent; */
	    border-radius: 5px;
	}
	
	
	.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	    outline: none;
	    background-color: #2b2b2b;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
	    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
	    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
	    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
	    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
	    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
	    /* box-shadow: inset 0 0 3px #111; */
	}
	    
	    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	    /* color: #333 !important; */
	    /* border: 1px solid #979797; */
	    background-color: white;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
	    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
	}
	
	
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	    color: white !important;
	    border: 1px solid #2980B9!important;
	    background-color: #2980B9!important;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980B9), color-stop(100%, #2980B9))!important;
	    background: -webkit-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
	    background: -moz-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
	    background: -ms-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
	    background: -o-linear-gradient(top, #2980B9 0%, #2980B9 100%)!important;
	    background: linear-gradient(to bottom, #2980B9 0%, #2980B9 100%)!important;
	}
    td{
	     font-weight: 300;
     }
        #map {
	width: 100%;
	height: 200px;
	order-style: solid;
	border-width: thin;
    }

   .mapCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
    }

   .mapCard:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   }
    .previous:hover {
  background-color: #ddd;
 }	
 	.analytics .slots {
		    display: flex;
		    overflow: hidden;
		    justify-content: center;
		    min-width: calc(100% - 150px);
		}
		    	
		.modal {
		    position: fixed;
		    top: 60px;
		    left: 0;
		    z-index: 1050;
		    display: none;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		    outline: 0;
		}
		
		